@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  background-color: #1e1e1e;
  color: #fff;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
